$background-color: #faf9e5;
$blue: #6f82ad;
$red: #f06757;
$lightblue: #4bd5d7;


$tablet-width: 1002px;
$mobile-width: 600px;



@font-face {
  font-family: OpryFont;
  src: url(../fonts/HoboBT.ttf);
}
