@import '_variables.scss';
@import '_hero.scss';


.card {
    display: flex;
    flex-direction: column;
    padding: 2%;
    border: 4px double $blue;
    border-radius: 16px;
    margin-top: 60px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    img {
        max-width: 100%;
        height: auto;
        border: 2px solid black;
        border-radius: 10px;
    }
    .card-title {
            font-family: OpryFont;
            align-self: center;
            padding-bottom: 8px;
            font-size: 2vw;
        }


    .card-text-area {
        
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: baseline;

        a {
            all: unset;
            padding-top:5%;
            padding-bottom: 5%;
            text-decoration: underline;
            text-wrap: nowrap;
			text-align: center;
            cursor: url(../cursor/cursor_blue.ico), auto;
        }
        
        .card-list {
            align-self: flex-start;
            padding-bottom: 8px;
            display: flex;
            flex-direction: column;

            a {
                font-size: 2.5vw;
            }
            @media (min-width: $tablet-width) {
                a {
                    font-size: 1.75rem;
                }
            }
        }
        @media (max-width: $mobile-width) {
            .card-list {
                display: none;
            }
        }

        .card-button {
            padding-bottom: 8px;
            align-self: center;

            button {
                background-color: $blue;
                border: none;
                color: white;
                padding: 10px 16px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 2vw;
            }
            @media (min-width: $tablet-width) {
                button {
                    font-size: 16px;
                    padding: 15px 32px;
                }
            }

            button:hover {
                background-color: $red; 
                cursor: url(../cursor/cursor_blue.ico), auto;

            }
            @media (max-width: $mobile-width) {
                button {
                    font-size: 14px;

                }
            }   

        }
        @media (min-width: $tablet-width) {
            .card-button {
                align-self: flex-start;
            }
        }
    }
}
//     @media (min-width: $tablet-width) {
//         .card-text-area {
//             padding-right: 8px;
//             display: flex;
//             flex-direction: column;
//             justify-content: space-around;
//             align-items: flex-start;
//         }

//     }
// }

// @media (min-width: $tablet-width) {
//     .card {
//         flex-direction: row;
//     }
// }
// @media (max-width: $mobile-width) {
//     .card {
//         margin-top:16px;
//     }
// }