{% extends "base.html" %}
{% load wagtailcore_tags static wagtailimages_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}
	<link rel="stylesheet" type="text/css" href="{% static 'styles/home.min.css' %}">
{% endblock %}

{% block content %}
    {% image page.banner_image width-600 class="rounded-corners" %}
	{{ page.tagline|richtext }}
	{{ page.body|richtext }}

	{% for card in cards %}
		<p>{{ card.card_name }}</p>
		{% for link in card.links.all %}
        	<p>{{ link.link_name }}</p>
			{% if link.link_image %}
                {% image link.link_image fill-64x64 class="rounded-corners" %}
			{% endif %}
    	{% endfor %}
	{% endfor %}

{% endblock content %}
